
{% extends 'dashboard/dashboard_head.html' %}
{% load static %}
{% block content %}


<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> 

    <link rel="stylesheet" href="{% static 'css/homeloan.css' %}">

   
</head>
<form action ="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- {{form.as_p}}
   -->
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-85 p-b-20">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-70">
           Apply for agent
          </span>
  
          <div class="wrap-input100 validate-input  m-b-35" data-validate = "Enter Agency Name">
            {{form.Agency_name}}
            <span class="focus-input100" data-placeholder="Agency Name"></span>
          </div>
          <div class="wrap-input100 validate-input  m-b-35" data-validate = "Enter Location">
            <!-- <input class="input100" type="text" name="Agency Location"> -->
            {{form.Agency_Location}}
            <span class="focus-input100" data-placeholder="Agency Location"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-35" data-validate = "Agency Contact">
            <!-- <input class="input100" type="text" name="fullName"> -->
            {{form.Agency_Contact}}
            <span class="focus-input100" data-placeholder="Agency Coontact"></span>
          </div>
  

  
          <div class="wrap-input100 validate-input  m-b-35" data-validate = "Enter Email">
            <!-- <input class="input100" type="Email" name="Email">
             -->
             {{form.Agency_Email}}
            <span class="focus-input100" data-placeholder="Email Address"></span>
          </div>
  
          <div class="wrap-input100 validate-input m-b-50" data-validate="Description">
            <!-- <input class="input100" type="text" name="Description"> -->
            {{form.Agency_Description}}
            <span class="focus-input100" data-placeholder="Description"></span>
          </div>
  
  
          <!-- <div class="wrap-input100 validate-input m-b-50" data-validate="Confirm Password">
            <input class="input100" type="password" name="Password">
            <span class="focus-input100" data-placeholder="Confirm Password"></span>
          </div> -->
          <form action="">
              <p>Agency logo</p>
              {{form.Agency_logo}}
            <!-- <input style="font-family: Poppins-SemiBold;" type="file" name="fasdf" id=""> -->
        </form>
        <br>
  
          <div class="container-login100-form-btn mt-3">
           
            <button class="login100-form-btn" type="submit">
              Apply
            </button>
          </div>
          <br>
         
        </form>
      </div>
    </div>
  </div>

  <!-- <input type="submit" class="btn btn-primary btn-block" value = "Apply"></input> -->
</form>



<script src=" {% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'login.js' %}"></script> 




{% endblock content %}
