{% extends 'dashboard/dashboard_head.html' %}
{% block content %}

<!-- container -->
      <h3>
          Profile
      </h3>
      <hr>
      <div class="container">
          <div class="card text">
              <div class="card-body">
                <p class="card-text"><b> Name :</b> iamAgent</p><br>
                <p class="card-text"><b> Email :</b> text@email.com</p><br>
                <p class="card-text"><b> Phone :</b> +977-9876543210</p><br>
                <p class="card-text"><b> Address :</b> Kathmandu, Nepal</p><br>
                <div class="agent-status">
                    Not verified as agent.
                  </div>
              </div>
          </div>
      </div> 

{% endblock content %}



